{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
    <link href="{% static 'page/css/register.css' %}" rel="stylesheet">
{% endblock css %}


{% block content %}
{% csrf_token %}
<p>It's time to meet people, only register you and meet the world!</p>
<label id="okornot"></label>
Name: <input type="text" class="form-control" id="iname"></input>
Surname : <input type="text" class="form-control" id="isurname"></input>
Date of birth : <input type="text" id="datepicker"></input>
<br><br>
Country :
<div class="styled-select"><select id="country" name="country">
<option value="">Country...</option>
</select></div>
<br>
E-mail : <input type="text" class="form-control" id="iemail"></input>
Password : <input type="password" class="form-control" id="ipassword"></input>

<button class="btn btn-default btn-lg">Send</button>{% csrf_token %}
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{% static 'page/js/jquery.cookie.js' %}" type='text/javascript'></script>
<script src="{% static 'page/js/register.js' %}" type='text/javascript'></script>
{% endblock js %}
